# ======================
# Python Environment
# ======================
lexidesk_venv/
venv/
.env/

# ======================
# Python Cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# DATASETS (DO NOT COMMIT)
# ======================
LexiDesk/data/raw/
LexiDesk/data/processed/
*.csv
*.json
*.jsonl
#*.tsv
#*.txt

# ======================
# TRAINED MODELS & VECTORIZERS
# ======================
LexiDesk/models/**/*.pt
LexiDesk/models/**/*.pth
LexiDesk/models/**/*.joblib
LexiDesk/models/**/*.bin
LexiDesk/models/**/checkpoints/

# --- ALLOW ONLY RHETORICAL HIERARCHICAL_BILSTM_CRF MODEL ARTIFACTS ---
!LexiDesk/models/rhetorical/
!LexiDesk/models/rhetorical/hierarchical_bilstm_crf/

!LexiDesk/models/rhetorical/hierarchical_bilstm_crf/final_model.pt
!LexiDesk/models/rhetorical/hierarchical_bilstm_crf/best_model.pt
!LexiDesk/models/rhetorical/hierarchical_bilstm_crf/vocab.joblib
!LexiDesk/models/rhetorical/hierarchical_bilstm_crf/label_encoder.joblib
!LexiDesk/models/rhetorical/hierarchical_bilstm_crf/checkpoint.pth


# --- ALLOW ONLY RHETORICAL HIERARCHICAL_BILSTM_SAFE MODEL ARTIFACTS --- USING SOFTMAX WITH HIERARCHICAL BILSTM
!LexiDesk/models/rhetorical/
!LexiDesk/models/rhetorical/hierarchical_bilstm_safe/

!LexiDesk/models/rhetorical/hierarchical_bilstm_safe/final_model.pt
!LexiDesk/models/rhetorical/hierarchical_bilstm_safe/best_model.pt
!LexiDesk/models/rhetorical/hierarchical_bilstm_safe/vocab.joblib
!LexiDesk/models/rhetorical/hierarchical_bilstm_safe/label_encoder.joblib
!LexiDesk/models/rhetorical/hierarchical_bilstm_safe/checkpoint.pth


# ======================
# EVALUATION OUTPUTS
# ======================
LexiDesk/evaluation/**/plots/
LexiDesk/evaluation/**/segmented_sentences/
LexiDesk/evaluation/**/*.png
LexiDesk/evaluation/**/*.json

# --- ALLOW ONLY HIERARCHICAL_BILSTM_CRF EVALUATION RESULTS ---
!LexiDesk/evaluation/
!LexiDesk/evaluation/hierarchical_bilstm_crf/
!LexiDesk/evaluation/hierarchical_bilstm_crf/**
!LexiDesk/evaluation/hierarchical_bilstm_crf/*.png
!LexiDesk/evaluation/hierarchical_bilstm_crf/*.json
!LexiDesk/evaluation/hierarchical_bilstm_crf/plots/**


# --- ALLOW ONLY HIERARCHICAL_BILSTM_SAFE EVALUATION RESULTS --- USING SOFTMAX WITH HIERARCHICAL BILSTM
!LexiDesk/evaluation/
!LexiDesk/evaluation/hierarchical_bilstm_safe/
!LexiDesk/evaluation/hierarchical_bilstm_safe/**
!LexiDesk/evaluation/hierarchical_bilstm_safe/*.png
!LexiDesk/evaluation/hierarchical_bilstm_safe/*.json
!LexiDesk/evaluation/hierarchical_bilstm_safe/plots/**



# ======================
# Logs & Runs
# ======================
logs/
runs/
outputs/

# ======================
# IDE / OS
# ======================
.vscode/
.DS_Store
Thumbs.db
